<!-- <ul>
  <li *ngFor="let filme of filmes; index as i" (click)="detalharFilme(filme)">
    {{filme.title}}
  </li>
</ul> -->
    <div class="row">
        <div class="col-3">
            <a class="list-group-item list-group-item-action active" data-toggle="list" role="tab">Filmes</a>
          <div class="list-group" id="list-tab" role="tablist" *ngFor="let filme of filmes" (click)="detalharFilme(filme)">
            <a class="list-group-item list-group-item-action" data-toggle="list" role="tab">{{filme.title}}</a>
          </div>
          <button type="button" class="btn btn-primary" (click)="voltar()">Voltar</button>
        </div>
      </div>
      <app-filmes-detalhe [filme]="filmeDetalhe"></app-filmes-detalhe>

