<!-- Aqui vai ficar um card com um link que direciona para uma lista resumida do item clicado -->
<div class="row">
    <div class="col-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link" role="tab" routerLink="/filmes">Filmes</a>
        <a class="nav-link" role="tab" routerLink="/pessoas">Pessoas</a>
        <a class="nav-link" role="tab" routerLink="/veiculos">Veiculos</a>
        <a class="nav-link" role="tab" routerLink="/racas">Racas</a>
        <a class="nav-link" role="tab" routerLink="/naves">Naves</a>
        <a class="nav-link" role="tab" routerLink="/planetas">Planetas</a>
      </div>
    </div>
  </div>
